<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests" thread-count="5">

<parameter name="browser" value="firefox"/>


<listeners>
    <listener class-name="com.newt.selenium.driver.Driver"/>
  </listeners>
  
  <test name="TC_01">
    <parameter name="testCaseId" value="TC_01"/>
    <classes>
      <class name="com.newt.selenium.modules.GmailLoginOnetest"/>
    </classes>
  </test> 
  	
  <test name="TC_02">
    <parameter name="testCaseId" value="TC_02"/>
    <classes>
      <class name="com.newt.selenium.modules.GmailLoginTwotest"/>
    </classes>
  </test> 
  
  
  <test name="TC_03">
    <parameter name="testCaseId" value="TC_03"/>
    <classes>
      <class name="com.newt.selenium.modules.GmailLoginThreetest"/>
    </classes>
  </test> 
 
  <test name="TC_04">
    <parameter name="testCaseId" value="TC_04"/>
    <classes>
      <class name="com.newt.selenium.modules.GmailLoginFourtest"/>
    </classes>
  </test> 
  
  
  <test name="TC_05">
    <parameter name="testCaseId" value="TC_05"/>
   <classes>
      <class name="com.newt.selenium.modules.GmailLoginFivetest"/>
    </classes>
  </test> 
  
  
</suite>
